<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>  
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-resource.min.js"></script>
  </head>
  <body ng-app="blitter">
    <div ui-view></div>
    <script>
      angular.module("blitter",["ui.router","bleets","ngResource"]) 
      .config(["$stateProvider", Router])

      angular.module("bleets",[])
      .factory("Bleet", ["$resource",Bleet])
      .controller("bleetsIndex",["$state","Bleet",bleetsIndex])

      function bleetsIndex($state, Bleet){
	this.bleets = Bleet.query()
	this.bleet = new Bleet()
	var self = this
	this.create = function(){
	  this.bleet.$save()
	  .then(function(){
	    self.bleets.push(self.bleet)
	  })
	}
      }

      function Bleet($resource){
	return $resource("http://localhost:3000/bleets/:id",{},{
	  update: {
	    method: 'PUT'
	  }
	}) 
      }

      function Router($stateProvider){
        $stateProvider
	.state("index",{
	  url: "/bleets",
	  controller: "bleetsIndex",
	  controllerAs: "vm",
	  template:"<form ng-submit='vm.create()'><input ng-model='vm.bleet.content'></form><div ng-repeat='bleet in vm.bleets'>{{bleet}}</div>"
	})
      }
    </script> 
  </body>
</html>